H1{
align: center;
color:white;
font-family:Barlow Light;
background-color:#362626;
font-size:60px;
text-align:center;
}
H3{
font-size:40px;
text-align:center;
}
H4{
font-size:50px;
text-align:center;
color:#666611;
}
#Map-tool
{
font-weight:bold;
}
#chart-tool
{
font-weight:bold;
}
#World
{
font-weight:bold;
}
#India
{
font-weight:bold;
}
#WorldC
{
font-weight:bold;
}
#IndiaC
{
font-weight:bold;
}

#country-dropdown
{
width:550px;
margin-left:100px;
margin-bottom:30px;
}
#region-dropdown
{
width:550px;
margin-left:100px;
margin-bottom:30px;
}
#month-dropdown
{
width:550px;
margin-left:90px;
margin-bottom:30px;
}

#state-dropdown
{
width:550px;
margin-left:100px;
margin-bottom:30px;
}
#city-dropdown
{
width:550px;
margin-left:100px;
margin-bottom:35px;
}
#date-dropdown
{
width:550px;
margin-left:90px;
margin-bottom:30px;
margin-right:100px;
}
#attacktype-dropdown
{
width:550px;
margin-left:90px;
margin-right:100px;
margin-bottom:45px;

}
#main_id
{
margin-left:100px;
}
#reset_btn
{
width:550px;
height:35px;
margin-top:25px;
margin-left:90px;
margin-right:50px;
margin-bottom:10px;
}
#chart_back
{
margin-top:15px;
margin-left:100px;
}
#Chart_Dropdown
{

width:550px;
margin-left:450px;
}
#search
{
width:350px;
height:30px;
margin-left:550px;
margin-bottom:35px;
}
#table_div
{
margin-top:15px;
margin-left:120px;

}
